@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #404040;
}

::selection {
	background-color: $orange;
	color: #fff;
}
*{
	box-sizing: border-box;

}
h1,h2,h3,h4,h5,h6,p,ul,li{
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	overflow-x: hidden;
	input, textarea {
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}
a{
	transition: all .35s ease;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

// TOP-LINE
.top-line{
	background: $violet;
	display: flex;
	align-items: center;
	min-height: 50px;
	@media screen and (max-width: 767px) {
		display: none;
	}
	&__link{
		color: $white;
		font-size: 14px;
		font-family: $R-Med;
		&:hover{
			color: $orange;
		}
		span{
			margin-right: 15px;
		}
		&.mail{
			display: flex;
			align-items: center;
		}
		&.lang{
			display: inline-block;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			font-family: $R-Reg;
			margin: 0 5px;
			text-transform: uppercase;
			&:hover,
			&.active{
				background: $orange;
				color: $white;
			}
		}
		&.social{
			span{
				margin: 0 13px;
			}
			display: inline-block;
			font-size: 16px;
		}
	}
}
// MENU-TOP
.menu-top{
	background:	$white;
	display: flex;
	align-items: center;
	overflow: hidden;
	@media screen and (max-width: 992px) {
		padding: 19px 0;
	}
	&__col{
		display: flex;
		align-items: center;
		width: 100%;
	}
	&__list{
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		@media screen and (max-width: 992px) {
			text-align: center;
			margin-top: 19px;
		}
	}
	&__logo{
		margin-right: 85px;
		padding: 0;
		@media screen and (max-width: 767px) {
			width: 145px;
			margin-right: 40px;
		}
	}
	&__link{
		color: $light-grey;
		font-size: 16px;
		font-family: $E-Ext;
		text-transform: uppercase;
		display: block;
		height: 102px;
		position: relative;
		padding-top: 39px;
		@media screen and (max-width: 992px) {
			font-size: 18px;
			height: auto;
			padding: 0;
			padding: 27px 0;
		}
		&::after{
			position: absolute;
			bottom: 0;
			content: "";
			display: block;
			width: 100%;
			height: 4px;
			transition: $transition;
			@media screen and (max-width: 992px) {
				display: none;
			}
		}
		&.active{
			color: $violet;
			&::after{		
				background: $orange;
				}
			@media screen and (max-width: 992px) {
					background: $orange;
					color: $white;
				}
			}
		&:hover{
			color: $violet;
		}
		&:hover:after{
			background: $orange;
		}
	}
	&__lang{
		color: $white;
		width: 35px;
		height: 35px;
		line-height: 35px;
		text-transform: uppercase;
		font-size: 14px;
		font-family: "Roboto Regular",sans-serif;
		background: $orange;
		text-align: center;
		display: none;
		@media screen and (max-width: 767px) {
			display: block;
			position: absolute;
				right: 60px;
				top: -2px;
		}
	}
	
	&__mobile{
		&-btn{
			display: none;
			@media screen and (max-width: 992px) {
				display: block;
			}
		}
	}
}
.navbar{
	width: 100%;
	padding: 0;
}
.sandwich {
  width:30px;
  height: 30px;
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
	padding: 0;
	outline: none;
	border: none;
	background: none;
	appearance: none;
	&:focus{
		outline: none;
	}
}
.sw-topper{
	display: block;
    position: relative;
    width:100%;
    height: 3px;
    background: $violet;
    border: none;
    transition: transform 0.3s, top 0.1s;
}     
    /* transition-delay: 0.2s, 0s; */
.sw-bottom{
	display: block;
    position: relative;
    width:100%;
    height: 3px;
    background: $violet;
    border: none;
    transition: transform 0.3s, top 0.1s;
    transition-delay: 0.1s, 0s;
		
		margin: 5.5px 0;
} 
.sw-footer{
	display: block;
    position: relative;
    width:100%;
    height: 3px;
    background: $violet;
    border: none;
    transition: all 0.2s;
    transition-delay: 0.1s;
    
} 
.sandwich.active .sw-topper{
	top: 9px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom{
	top: 1px;
	transform: rotate(-45deg);
}
.sandwich.active .sw-footer{
	opacity: 0;
	top: 0;
	transform: rotate(180deg);
}  
// HEADER
.header{
	height: 880px;
	color: $white;
	position: relative;
	overflow: hidden;
	padding-top: 150px;
	background-image: url(../img/header-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&__bg{
		width: 448px;
		height: 480px;
		position: absolute;
		top: -227px;
    left: -212px;
		opacity: 0.4;
		background-color: #22235a;
		transform: rotate(45deg);;
	}
	&__title{
		font-size: 66px;
		text-transform: uppercase;
		margin-bottom: 30px;
		font-family: $E-Ext-Bold;
		@media screen and (max-width: 768px) {
			font-size: 38px;
		}
	}
	&__subtitle{
		font-size: 42px;
		margin-bottom: 40px;
		font-family: $E-Ext;
		@media screen and (max-width: 768px) {
			font-size: 24px;
		}
	}
	&__btn{
		display: inline-block;
		font-size: 16px;
		text-transform: uppercase;
		border: 2px solid $white;
		font-family: $R-Reg;
		color: inherit;
		padding: 12px 38px;
		border-radius: 50px;
		&:hover{
			background: $orange;
			border-color: $orange;
			color: $white;
		}
	}
}
@media screen and (max-width: 992px) {
	.navbar-collapse{
		margin-left: -150px;
		margin-right: -150px;
	}
}
@media screen and (max-width: 768px) {
	.navbar-collapse{
		margin-left: -105px;
		margin-right: -105px;
	}
}

@import "media"; // Always at the end
.Rectangle_53_copy_12 {
  background-image: url("Rectangle 53 copy 12.png");
  opacity: 0.102;
  position: absolute;
 
  width: 448px;
  height: 480px;
  z-index: 155;
}
.Rectangle_55 {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(202, 211, 210, 0);
  position: absolute;
  left: 984px;
  top: 1039px;
  width: 179px;
  height: 52px;
  z-index: 158;
}
